@model f7.Models.ItemModels

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}

<h1>Xóa sản phẩm</h1>

<h3>Bạn có chắc muốn xõa mục này?</h3>
<div>
    <h4>Sản phẩm</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="button-anchor" asp-action="Index">Về danh sách</a>
    </form>
</div>
