@model IEnumerable<f7.Areas.Cart.Models.CartViewModel>;

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header card-header">
                <h5 class="modal-title " id="exampleModalLabel">Giỏ hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form asp-action="CreateList" asp-controller="Order">
                        <table class="table">
                            <div class="row bg-dark">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.ItemName)</th>
                                        <th>@Html.DisplayNameFor(model => model.SellingPrice)</th>
                                        <th style="width: 100px">@Html.DisplayNameFor(model => model.Quantity)</th>
                                        <th>@Html.DisplayNameFor(model => model.Unit)</th>
                                        <th>@Html.DisplayNameFor(model => model.Amount)</th>
                                    </tr>
                                </thead>
                            </div>
                            <div class="row">
                                <tbody>
                                    @{
                                        int i = 0;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(model => item.ItemName)</td>
                                            <td>@Html.DisplayFor(model => item.SellingPrice)</td>
                                            <td>
                                                <input type="text" hidden name="itemid[@i]" value="@item.ItemsId">
                                                <input type="number" name="quantity[@i]" value="@item.Quantity">
                                            </td>
                                            <td>@Html.DisplayFor(model => item.Unit)</td>
                                            <td>@Html.DisplayFor(model => item.Amount)</td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </div>
                        </table>
                        <div class="row" id="">
                            <button class="btn btn-info col-6 h4 rounded" class="button-anchor">Đặt hàng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
